<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
    <title > Добавление/Удаление</title>
</head>
<body style='display:flex;align-items:center;flex-direction:column;'>
    <h1 style='text-align:center'>Добавлениe/Удаление товаров </h1>
    
    <form  method="post"  style='display:flex;align-items:center;flex-direction:column;'>
        <label> Название товара
        <input type="text" class="form-control" name="name" id="name"><br>
        </label>
        <label> Цена 
        <input type="number" class="form-control" name="price" id="price"><br>
        </label>
        <label> Кол-во
        <input type="number" class="form-control" name="amount" id="amount"><br>
        </label>
        <label> Комментарий
        <input type="text" class="form-control" name="comment" id="comment"><br>
        </label>
        <button  class= "btn btn-success" type="submit">Добавить товар </button>
    </form>
    <p> <a href="/">Вернуться на главную</a> </p>
</body>
</html>



